
/* форма */

.order-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: start;
}

.part-form, .end-cost {
    margin: 10px;
}

.part-form > label {
    display: block;
}

.part-form > input,select  {
    width: 400px;
}

.end-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.cost-delivery {
    margin-top: 0px;
    font-size: 12px;
}

@media only screen and (max-width:855px){
    .order-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}