* {
    box-sizing: border-box;
}

/* футер внизу */
html {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Gabriela", serif;
    font-style: normal;
}

header {
    /* flex-grow - колво свободного места, flex-shrink - насколько элмнт сокр, flex-basis - размер элемента  */
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    border-top: 1px solid gray;
}

footer p {
    text-align: center;
}

/* шапка */
.flex-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

/* лого */
.div-logowave {
    display: flex;
    align-items: center;
}

.logowave {
    width: 50px;
    height: auto;
}

/* поисковая строка */
.flex-find-line {
    display: flex;
    align-items: center;
}

.flex-find-line input {
    width: 450px;
}

/* корзина и кабинет */
.header-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

.flex-shpipbasket {
    display: flex;
    align-items: center;
}

.shipbasket {
    width: 50px;
    height: auto;
}

.flex-headercabinet {
    display: flex;
    align-items: center;
}

.headercabinet {
    width: 50px;
    height: auto;
}


.menuicon {
    width: 45px;
    height: auto;
}


/* main */
.notification {
    display: none;
    background-color: rgb(162, 219, 249);
    border: 1px solid rgb(105, 105, 255);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

/* фильтры */
.category-filter {
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    margin: 0px 10px;
}


.flex-category-checkbox {
    display: flex;
    flex-direction: column;
}

.flex-category-cost {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.flex-category-cost input {
    display: block;
    width: 100px;
}

.flex-button {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.category-filter button {
    border-radius: 5px;
    width: 90%;
}


/* каталог */

.flex-header-catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.self-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 30px;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px;
    margin: 10px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.name-product{
    width: 400px;
    flex: 1;
}
.img-card {
    object-fit: full;
}

.card p {
    margin: 1px;
}

@media only screen and (max-width:800px) {
    .self-catalog {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
        gap: 30px;
    }

    .flex-find-line input {
        width: 200px;
    }
}
